.mobile-ui-container{
    background-image: url('/page-under-construction.png'); /* Path to your image */
    background-size: contain; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Adjust height as needed */
    width: 100%; /* Full width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }